.centro{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.formulario {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.alinha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}